.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 15px hwb(0 0% 100% / 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  width: 100%;
  height: 200px;
  object-fit: cover; 
  display: block; 
  border-radius: 10px;
} 

.card .card-title{
  font-family: Georgia;
  margin: 0;
  color:hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Georgia;
  margin: 0;
  color:hsl(0, 0%, 30%);
} 