.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: #2ecb2e;
}
.list-items li{
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}
.list-items li:hover{
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}




/*---- css for conditional rendering
.welcome-message{
  font-size: 2.5em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size: 2.5em;
  background-color: hsl(15, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
} */

/* ----------css for Using Props---------
.student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
}
.student p{
  margin: 0;
}*/



/*-------css for EXTURNAL BUTTON 
.button{
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

} */


/* ----------CSS for Card
.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 15px hwb(0 0% 100% / 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  width: 100%;
  height: 200px;
  object-fit: cover; 
  display: block; 
  border-radius: 10px;
} 

.card .card-title{
  font-family: Georgia;
  margin: 0;
  color:hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Georgia;
  margin: 0;
  color:hsl(0, 0%, 30%);
} */